.profile-avatar {
  display: block;
  margin: -50px auto 0 auto;
  position: relative;
}

.main-feed {
  padding: 0 !important;
  padding-bottom: 15px !important;
  padding-top: 5px !important;
  box-shadow: 0px -5px 0px 1px lightgrey;
}
.commentinp {
  width: 100%;
  padding: 5px;
  border-radius: 200px;
  background-color: #f6f6f6;
  margin-top: 20px;
}
.selected {
  background-color: #3897f1 !important;
  color: white !important;
}
/* .search-wrapper {
  position: relative !important;
  z-index: 20000 !important;
  left: 0px !important;
  height: 30px !important;
} */
.filterbox {
  padding: 5px;
  margin: 2px !important;
  background-color: #f5f5f5;
  font-weight: bold;
}
.filter-type {
  color: #3897f1;
  width: 100%;
  border-bottom: solid 4px #3897f1;
  margin: 0px;
}
.item-options {
  width: 50px;
  height: 50px;
  border: solid 0.5px black;
  margin: 5px;
  object-fit: cover;
  float: left;
}
.Media {
  object-fit: contain;
  width: 100vw;
  height: 90vh;
  object-position: top;
}
@media (max-width: 1199px) {
  /* .back-navigation {
    display: none;
  } */
}

@media (max-width: 991px) {
  /* .back-navigation {
    display: none;
  } */
}

.event-headings {
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
}

.select-list {
  text-align: center;
}

.addmedia-tag {
  text-align: center;
}

.about {
  float: left;
  margin-top: 8px;
}

.about {
  padding-left: 8px;
}

.username-avatr {
  position: relative;
  right: 3vw;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

