.nav-link:focus,
.nav-link:hover {
  color: rgb(45 124 199) !important;
}
.navigation-box {
  background: #ffffff;
  width: 100vw !important;
}

#dropdown-item-button {
  color: black;
  background-color: transparent;
  border: none;
  box-shadow: none;
  decoration: none;
  font-size: 20px;
}

@media (max-width: 825px) {
  .navigation-box {
    display: none;
  }
}
@media (min-width: 825px) {
  .deskhide-nav {
    display: none;
  }
}
@media (min-width: 300px) {
  .mobhide-home {
    display: none;
  }
}
.time_notification {
  font-size: 10px;
}

.mobilebar_text {
  text-decoration: none;
  font-size: 10px;
  margin-bottom: inherit;
  text-align: center;
}

.mobilebar_text_notif {
  text-decoration: none;
  font-size: 10px;
  margin-bottom: inherit;
  margin-right: -5px;
}
