.map-container {
  width: 100%;
  height: 500px !important;
}
.locationSearch {
  width: 100%;
  height: 40px;
  /* margin-bottom: 5px; */
  border: 0.5px solid;
  border-radius: 500px;
  border: solid lightgray;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  bottom: 9px;
}
.locationSearch:focus {
  outline: none !important ;
}
.top-5 {
  top: -5px;
}
