.box-event {
  width: 80%;
  margin-left: 10%;
  /* background-color: rgb(255, 255, 255); */
  height: 70px;
  padding: 10px;
  border-radius: 57px;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  box-shadow: 8px 10px 18px -9px rgba(0, 0, 0, 0.49);
  margin-top: -2vh !important;
  color: black;
  background-color: white;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-color: #3897f1;
  box-shadow: 0 0 20px grey;

  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
}
.invitation_carousel {
  overflow-y: scroll;
}
.box-event:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.image-main {
  margin-top: 6px;
}
.img-fluid {
  max-width: 100%;
  height: 50vh;
  width: 100%;
  object-fit: contain;
}
/*  .formcontrol-sm {
  border: 0;
  width: 30%;
  height: 20px;
  margin-left: 60px;
} */

.avatar-name {
  border: 0;
  font-size: 15px;
  color: black;
  font-weight: bold;
  margin-top: -40px;
  margin-left: 68px;
  line-height: 1.13;
}
/* .form-control {
  border: 0;
  width: 30%;
  height: 20px;
  margin-left: 60px;
}
 */
.upper-menu {
  position: relative;
  z-index: 10;
}
.container-event {
  position: absolute;
  z-index: 2;
  top: 0vh;
  padding: 10px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: block;
  background-color: black;
  background-color: rgba(70, 70, 70, 0.25);
}

.event-chat-buttons {
  position: relative;
  bottom: 5vh;
  float: right;
}
.event-date {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
.fullimagemain {
  height: 60vh;
  object-fit: cover;
}
.go-chat {
  color: grey;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  padding: 1px;
}
.event-des {
  color: black;
  white-space: pre-line;
  word-wrap: break-word;
}
.Like-count {
  position: relative;
  left: 2vw;
  bottom: 2vh;
  z-index: 2;
  font-weight: bold;
}
.RSVP-count {
  position: relative;
  left: 3vw;
  top: 1vh;
  z-index: 2;
}
@media (max-width: 1199px) {
  .box-event {
    width: auto;
    height: 50px;
    padding-top: 5px !important;
  }
  .image-main {
    margin-top: -2px;
  }
  .event-date {
    font-size: 16px;
  }

  .event-des {
    font-size: 15px;
    line-height: 1.43;
  }
  .Like-count {
    position: relative;
    left: 3vw !important;
    bottom: 2vh;
    z-index: 2;
  }
  .RSVP-count {
    position: relative;
    left: 3vw;
    top: 1vh;
    z-index: 2;
  }
}

@media (max-width: 991px) {
  .box-event {
    width: 97%;
    height: 60px;
  }
  .event-chat-buttons {
    bottom: 6vh !important;
    margin-right: 5px !important;
  }
  .image-main {
    margin-top: -2px;
  }
  .event-date {
    font-size: 16px;
  }

  .event-des {
    font-size: 15px;
    line-height: 1.43;
  }
  .Like-count {
    position: relative;
    left: 4vw !important;
    bottom: 2vh;
    z-index: 2;
  }
  .RSVP-count {
    position: relative;
    left: 3vw;
    top: 1vh;
    z-index: 2;
  }
}
@media (max-width: 491px) {
  .Like-count {
    position: relative;
    left: 10vw !important;
    bottom: 2vh;
    z-index: 2;
  }
}
@media (min-width: 1484px) {
  .row {
    margin-left: 100px;
  }
}

.send-icon {
  float: right;
  margin-right: 6vh;
  margin-top: 1vh;
  position: relative;
  bottom: 5vh;
}

.carousel-indicators {
  visibility: hidden;
  visibility: visible;
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  background-color: black;
  margin-bottom: 5vh;
}

.chat-icon {
  float: right;
  color: grey;
  width: 35px;
  height: 35px;
  background: #3897f1;
  border-radius: 50%;
  padding: 7px;
}

.carousel-indicators .active {
  visibility: visible;
}
.invitationmain_link {
  text-decoration: none !important;
  font-size: small;
}

@media (max-width: 320px) {
  .fullimagemain {
    max-height: 47vh !important;
  }
}
.read-more-less--more,
.read-more-less--less {
  color: #999;
}
.please-login {
  width: 80%;
  /* background-color: rgb(255, 255, 255); */
  height: 70px;
  padding: 10px;
  border-radius: 57px;
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  box-shadow: 8px 10px 18px -9px rgba(0, 0, 0, 0.49);
  margin-top: -2vh !important;

  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  color: white;
  font-size: 30px;
  text-align: center;
}
