.grow {
  flex-grow: 1;
  height: 9vh;
}
.menuButton {
  margin-right: 16px;
}
.title {
  display: none;
}

.inputRoot {
  color: inherit;
}
.inputInput {
  width: 100%;
  padding: 8px 8px 8px 0px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-left: calc(1em + 32px);
}
.sectionDesktop {
  display: flex;
}
.sectionMobile {
  display: none;
}
.Nav-icon{
  width: 70px;
}
.menu-option{
  width: 100% !important;
  text-align: left !important;

  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 789px) {
  .title {
    display: block !important;
  }
  .search {
    width: 100% !important;
    margin-left: 80px !important;
  }
  .sectionDesktop {
    display: none !important;
  }
  .sectionMobile {
    display: flex;
  }
  .inputInput {
    width: 20ch !important;
  }
}
