.edit_albumsbtn {
  float: right;
  border-radius: 25px;
}
.image-gallery-image {
  height: 55vh !important;
}
.blank-album {
  width: auto;
  height: 33vh;
  display: block;
  margin: auto;
  margin-top: 10vh!important;
}

.addalbums_btn{
  border-radius: 20px;
  border-color: #3897F1;
  background-color: #3897F1;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .addalbums_btn{
    width: 50vw;
  }
  .albumedit_btn{
    width: 25vw!important;
  }
}
