.nodata {
  height: 450px;
  width: 90%;
  margin: 5%;
}

/* .card {
  margin-left: auto;
  align-self: center;
  height: auto;
  object-fit: contain;
  width: 100%;
  height: 500px;
} */


.float-bottom {
  position: relative;
  top: 90%;
  text-align: center;
}
.rsvp-button {
  width: 100%;
  background: none;
  border: solid 1px white;
  border-radius: 20px !important;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 8px;
  color: #fff !important;
}
.invitaion {
  background-color: white;
  box-shadow: 2px 2px 6px 2px grey;
  border-radius: 5px;
  margin-top: 10px;
  width: 98%;
  margin: 1%;
}
.tool-bar {
  height: 50px;
  margin-top: 6px;
  border-top: 5px solid grey;
  padding-top: 5px;
}
.tool-button {
  padding-top: 5px;
}
.InvitationCard {
  width: 100%;
  height: 300px;
  padding: 5px;
}
.dt {
  position: relative;
  bottom: 20px;
}
.inv-img {
  width: 95%;
  height: 100%;
  position: relative;
  z-index: 1;
  object-fit: cover;
  opacity: 0.85;
  background: rgba(0, 0, 0, 0.3);
  -webkit-filter: brightness(70%);
  transition: all 1s ease;
  margin: 2.5%;
  border-radius: 30px;
}
.card-button {
  position: relative;
  z-index: 2;
  padding: 0 !important;
}
.Notifyme {
  bottom: 100%;
  left: 90%;
}
.bottom-bar {
  position: relative;
  bottom: 35%;
  z-index: 2;
}
.event-info {
  padding-left: 45px;
}
.invContainer {
  height: 85vh;
  overflow-y: auto;
}
@media (min-width: 960px) {
  .MuiGrid-grid-md-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
    margin: auto !important;
  }
}

.schedule_main {
  margin-bottom: 20px !important;
}

center > div > .OTP:first-child {
  margin-left: 20% !important;
}

@media (min-width: 825px) {
  .hoxInv-container {
    width: 35% !important;
  }
}
.hoxInv-container {
  width: 90%;
  height: 70vh !important;
  background: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}
