.template_btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  
    &:hover {
      background-color: lighten(rgb(255, 255, 255), 5%);
    }
  
    &:focus {
      outline: 1px dashed yellow;
      outline-offset: 3px;
    }
  }


  @media (max-width:445px){
     
  }