.template_btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  position: relative;
  z-index: 99999999;
  &:hover {
    background-color: lighten(rgb(255, 255, 255), 5%);
    color: black;
  }

  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
    color: black;
  }
}

@media (max-width: 470px) {
  .mobile-row {
    width: 50% !important;
  }
}
