.no-proifle {
  border: solid red;
  border-radius: 20px;
}
/* .Profile {
  height: 60px;
  width: 50px;
  object-fit: contain;
  color: rgb(84, 141, 248);
} */

.MuiOutlinedInput-root {
  border-radius: 20px !important;
}

.Profile:hover{
  color: black;
}

.Profile:active{
  color: black;
}
.no-proifle:hover{
  color: beige;
}