@media only screen and (max-aspect-ratio: 1/1) {
  .schedule-icon {
    width: 80% !important;
    left: 10% !important;
    height: 47px !important;
  }
  .add-Img {
    width: 100% !important;
    height: 240px !important;
  }
  /* .card {
    margin-left: auto;
    align-self: center;
    width: 100% !important;
  } */
  .invitaion {
    width: 98% !important;
    margin: 1%;
  }
  .mobile-only {
    display: block !important;
  }
  .desktop-only {
    display: none !important;
  }
  .eventbuttons {
    margin: 0 !important;
    width: 100vw !important;
  }
  .dotscontainer {
    width: 25% !important;
    left: 40% !important;
  }
  .infocard {
    width: 90vw !important;
    margin-left: 5vw !important;
  }
  .Notifyme {
    left: 88% !important;
  }
  .inv-img {
    margin: 0 !important;
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
  }
  .save-event {
    width: 100% !important;
    float: none;
  }
  .save-Schedule {
    width: 90% !important;
    float: none;
    margin: 0;
    left: 0;
    right: 0;
    border-radius: 25px !important;
  }
  .toggler {
    display: none !important;
  }
  .Back-Nav {
    display: block !important;
  }
  .event-buttons {
    font-size: 9px !important;
  }
  .InvitationCard {
    height: 460px !important;
    margin: 5px !important;
  }
  .inv-img {
    height: 460px !important;
  }
  .bottom-bar {
    bottom: 20% !important;
  }
  .popup-close {
    left: 90% !important;
  }
  .down-float {
    position: none !important;
    top: 0 !important;
    left: 0 !important;
  }

  .rsvpoptions {
    left: 5vw !important;
  }
  .add-album {
    left: 5% !important;
    width: 90% !important;
  }
  .add-button {
    font-size: 60px !important;
    bottom: 5vh !important;
    position: fixed !important;
    z-index: 2222 !important;
    left: 75vw !important;
  }
  .noe {
    padding: 8px !important;
    width: 100vw !important;
    height: 40px !important;
    border-radius: 0 !important;
    margin-left: 0px !important;
    box-shadow: 1px 1px 3px 0px grey !important;
    /* border-radius: 500px; */
    /* padding: 7px; */
    margin-top: 5px !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
    position: relative !important;
    z-index: 23 !important;
    right: 4vw !important;
    height: 48px !important;
  }
  .r4vw {
    right: 2vw !important;
  }
  .plancard {
    width: 97% !important;
  }
  .event-info {
    padding-left: 15px !important;
  }
  .mfs-12 {
    font-size: 15px !important;
  }
  .box {
    padding: 0 !important;
  }
  .mfs {
    font-size: small !important;
    height: 25px !important;
  }
  .schedule-card {
    margin: 0 !important;
    padding: 5px !important;
    height: 80px !important;
    margin-bottom: 65px !important;
  }
  .rsvp-buttons {
    /* bottom: 8vh !important; */
    left: 0vh !important;
    width: 100vw;
  }
  .imgwall {
    object-fit: fill;
  }
  .box-event {
    margin: 0 auto !important;
    margin-top: -20px !important;
    width: 80% !important;
  }
  .Like-count {
    position: relative;
    left: 10vw !important;
    bottom: 2vh;
    z-index: 2;
  }
  .footnavmobile {
    width: 100vw !important;
    display: block !important;
  }
  .img-fluid {
    object-fit: cover !important;
  }
  .update {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .delete-modal {
    width: 90vw !important;
    position: fixed;
    left: 5vw !important;
    top: 5vh !important;
  }
  .update-buttons {
    width: 100% !important;
    margin: 5px !important;
  }
  .uploaded-file {
    object-fit: cover !important;
  }
  .RSVP-count {
    position: relative;
    left: 12vw !important;
    top: 2vh !important;
    z-index: 2;
  }
  .guestlist-box {
    margin: 0 !important;
    padding: 0 !important;
  }
  .container-event {
    margin: 0 !important;
    padding: 0 !important;
  }
  .item {
    height: 60px !important;
    width: 50px !important;
  }
  .chat {
    height: 65% !important;
  }
}
